<div class="container bg-light">
	<br /> <br />
	<div class="row">

		<div class="col-md-12">
			<h4>Conta Corrente: Extrato</h4>
			<form>
				<div class="row">
					<div class="col-md-6">
						<label>Ag. 0641 C/C: 01.053383.8</label>
					</div>
					<div class="col-md-3">
						<label>Selecionar o período:</label>
					</div>
					<div class="col-md-2">
						<div class="btn-group btn-group-sm">
							<button class="btn btn-secondary " type="submit">7 Dias</button>
							<button class="btn btn-secondary " type="submit">15 Dias</button>
							<button class="btn btn-secondary " type="submit">30 Dias</button>
						</div>
					</div>
				</div>
				<br />
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Data</th>
							<th>Descrição</th>
							<th>Credito(R$)</th>
							<th>Débito(R$)</th>
							<th>Saldo(R$)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>10/06</td>
							<td>Depósito inicial no caixa eletrônico</td>
							<td>1.600,00</td>
							<td></td>
							<td>1.600,00</td>
						</tr>
						<tr>
							<td>10/06</td>
							<td>Saque no caixa eletrônico</td>
							<td></td>
							<td>500,00</td>
							<td>1.100,00</td>
						</tr>
						<tr>
							<td>10/06</td>
							<td>transferência entre agências no caixa eletrônico</td>
							<td></td>
							<td>100,00</td>
							<td>1.000,00</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>

</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
	<hr class="mb-12">
	<p class="mb-1">&copy; 2017-2018 Banco S/A</p>
</footer>