table {
	position: fixed;    
    width: 90%;
    border-collapse: separate;
    border-radius: 5px;
    border: 3px solid rgba(106, 141, 173, 0.71);
}

th,
td {
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: rgba(106, 141, 173, 0.71);
    color: white;
}

th {
    background-color: rgb(79, 97, 148);
    color: white;
    
}

a {
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
}