     <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" [routerLink]="['/home']">Banco S.A.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!--  <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
          </li>-->
         
      
            <li class="dropdown" dropdown> <!-- {1} -->
                <a class="nav-link dropdown-toggle btn-outline-primary my-2 my-sm-0" dropdownToggle role="button"  aria-haspopup="true" aria-expanded="false">Bancos<span class="caret"></span></a>
 
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
    				<li><a class="dropdown-item" [routerLink]="['/cadastro-banco']">Cadastros</a></li>
    				<li><a class="dropdown-item" [routerLink]="['/consulta-banco']">Consultas</a></li>
                </ul>
            </li>
             <li class="dropdown" dropdown> <!-- {1} -->
                <a class="nav-link dropdown-toggle btn-outline-primary my-2 my-sm-0" dropdownToggle role="button"  aria-haspopup="true" aria-expanded="false">Agencias<span class="caret"></span></a>
 
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
    				<li><a class="dropdown-item" [routerLink]="['/cadastro-agencia']">Cadastros</a></li>
    				<li><a class="dropdown-item" [routerLink]="['/consulta-agencia']">Consultas</a></li>
                </ul>
            </li>
             <li class="dropdown" dropdown> <!-- {1} -->
                <a class="nav-link dropdown-toggle btn-outline-primary my-2 my-sm-0" dropdownToggle role="button"  aria-haspopup="true" aria-expanded="false">Clientes<span class="caret"></span></a>
 
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
    				<li><a class="dropdown-item" [routerLink]="['/cadastro-nota']">Cadastros</a></li>
    				<li><a class="dropdown-item" [routerLink]="['/consulta-nota']">Consultas</a></li>
                </ul>
            </li>
             <li class="dropdown" dropdown> <!-- {1} -->
                <a class="nav-link dropdown-toggle btn-outline-primary my-2 my-sm-0" dropdownToggle role="button"  aria-haspopup="true" aria-expanded="false">Notas<span class="caret"></span></a>
 
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
    				<li><a class="dropdown-item" [routerLink]="['/cadastro-nota']">Cadastros</a></li>
    				<li><a class="dropdown-item" [routerLink]="['/consulta-nota']">Consultas</a></li>
                </ul>
            </li>
       
        </ul>
        <!--  
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
      </div>
    </nav>

    
