    <div class="container bg-light">
      <div class="row">
        <div class="col-md-9 order-md-1">          
          <form (ngSubmit)="salvar()">
          <br />
          <h4 class="mb-3">{{titulo}}</h4>
            <div class="row">
              <div class="col-md-3 mb-4">
                <label for="codigo">Codigo</label>
                <input type="text" class="form-control" name="tbBancoCodigo" [(ngModel)]="banco.tbBancoCodigo" placeholder="Digite o Codigo" required>                     
              </div>
              <div class="col-md-9 mb-3">
                <label for="banco">Nome do Banco</label>
                <input type="text" class="form-control" name="tbBancoNome" [(ngModel)]="banco.tbBancoNome" placeholder="Digite o Nome do Banco"required>
              </div>
             <div class="col-md-3">        
            	<button class="btn btn-outline-primary  btn-block" type="submit">Salvar</button>
            </div>
            </div>
          </form>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Banco S/A</p>       
      </footer>
    </div>