form {
    position: fixed;
    left: 30%;
    width: 380px;
    height: 200px;
    background-color: rgba(230, 230, 230, 0.71);
    border: 3px solid rgba(106, 141, 173, 0.71);
    ;
    border-radius: 5px;
}

h3 {
    background-color: rgb(75, 101, 172);
    color: white;
    text-align: center;
    vertical-align: middle;
}

button {
    position: absolute;
    right: 0;
    margin-right: 20px;
    bottom: 0;
    margin-bottom: 20px;
}

label {
    margin-left: 6px;
    color: #213E8D;
}