
<div class="bg-light">
<div class="col-md-12">
<br />	
<h4>{{titulo}}</h4>

<table>
    <thead>
        <tr class="d-flex">
            <th class="col-3">Cliente</th>  
            <th class="col-1">Senha</th>       
            <th class="col-6">Agencia</th>
            
           
            <th class="col-1">Editar</th>
            <th class="col-1">Excluir</th>
        </tr>
    </thead>

    <tbody>
        <tr class="d-flex" *ngFor="let cliente of clientes; let i = index;">
            <td class="col-sm-3">{{ cliente.clienteNome }}</td>
            <td class="col-sm-1">{{ cliente.clienteSenha }}</td>
            <td class="col-sm-6">{{ cliente.agenciaCodigo }}-{{ cliente.agenciaDigito }}</td>
            

            
            <td class="col-sm-1"><a (click)="editar(cliente.idCliente);">Editar</a></td>
            <td class="col-sm-1"><a (click)="excluir(cliente.idCliente, i);">Excluir</a></td>
        </tr>
    </tbody>
</table>
</div>
</div>