
<div class="container bg-light">
	<div class="row">
		<div class="col-md-12 order-md-1">
			<form (ngSubmit)="salvar()">
				<br />
				<h4 class="mb-3">{{titulo}}</h4>

				<div class="col-md-2 mb-2">
					<label for="clienteIAgencia">Agencia</label> <select
						class="custom-select d-block w-100" id="clienteIAgencia"
						[(ngModel)]="cliente.clienteIAgencia"
						[ngModelOptions]="{standalone: true}" required>
						<option selected="selected">Selecione...</option>
						<option *ngFor="let agencia of agencias"
							[value]="agencia.idAgencia">{{agencia.agenciaCodigo}}-{{agencia.agenciaDigito}}</option>
					</select>
				</div>
				<div class="col-md-5 mb-2">
					<label for="clienteNome">Nome do Cliente</label> <input type="text"
						class="form-control" name="clienteNome"
						[(ngModel)]="cliente.clienteNome"
						placeholder="Digite o Nome do Cliente" required>
				</div>
				<div class="col-md-2 mb-2">
					<label for="clienteSenha">Senha</label> <input type="text"
						class="form-control" name="clienteSenha"
						[(ngModel)]="cliente.clienteSenha" placeholder="Senha" required>
				</div>
				<br /> <br />
				<hr class="mb-4">
				<div class="col-md-2">
					<button type="submit" class="btn btn-outline-primary  btn-block">Salvar</button>
				</div>

			</form>
		</div>
	</div>
	<footer class="my-5 pt-5 text-muted text-center text-small">
		<p class="mb-1">&copy; 2017-2018 Banco S/A</p>
	</footer>
</div>