
<div class="container bg-light">
	<br /> <br />
	<div class="row">

		<div class="col-md-12">
			<h4>Conta Corrente: Início</h4>
			<form>
				<div class="row">
					<div class="col-md-6">
						<label>Ag. 0641 C/C: 01.053383.8</label>
					</div>
				</div>
				<br /> <br /> <br />

				<div class="row">
					<div class="col-md-4">
						<button class="btn btn-primary btn-lg btn-block" type="submit">DEPÓSITO</button>
					</div>
					<div class="col-md-4">
						<button class="btn btn-primary btn-lg btn-block" type="submit">SAQUE</button>
					</div>

					<div class="col-md-4">
						<button class="btn btn-primary btn-lg btn-block" type="submit">EXTRATO</button>
					</div>

				</div>

			</form>
		</div>
	</div>

	<footer class="my-5 pt-5 text-muted text-center text-small">
		<hr class="mb-4">
		<p class="mb-1">&copy; 2017-2018 Banco S/A</p>
	</footer>
</div>
